<header>
  <nav class="nav-header">
    <a routerLink="/inicio" id="name" class="name">Ingeniería Eléctrica</a>
    <input type="checkbox" id="nav-check">
    <div class="nav-toggle">
      <label class="label" for="nav-check">
        <span id="span-1"></span>
        <span id="span-2"></span>
        <span id="span-3"></span>
      </label>
    </div>
    <ul class="nav-menu">
      <li class="nav-menu-item"><a id="computing" routerLink="/computacion-numerica">Computación Numérica</a></li>
      <li class="nav-menu-item"><a id="computer" routerLink="/informatica">Informática</a></li>
      <li class="nav-menu-item"><a id="methods" routerLink="/metodos-numericos">Métodos Numéricos</a></li>
      <li class="nav-menu-item"><a id="hotbed" routerLink="/semillero-electron">Semillero</a></li>
    </ul>
  </nav>
</header>
