<header>
  <nav class="nav-header">
    <a routerLink="/home" id="name" class="name">Ingeniería Eléctrica</a>
    <input type="checkbox" id="nav-check">
    <div class="nav-toggle">
      <label class="label" for="nav-check">
        <span id="span-1"></span>
        <span id="span-2"></span>
        <span id="span-3"></span>
      </label>
    </div>
    <ul class="nav-menu">
      <li class="nav-menu-item"><a id="about-me" routerLink="/about-me">Computación Numérica</a></li>
      <li class="nav-menu-item"><a id="my-projects" routerLink="/my-projects">Informática</a></li>
      <li class="nav-menu-item"><a id="blog" routerLink="/blog">Métodos Numéricos</a></li>
      <li class="nav-menu-item"><a id="contact" routerLink="/contact">Semillero</a></li>
    </ul>
  </nav>
</header>
