<h1>Informática</h1>

<section class="classes">
  <h2>Clases</h2>
  <ol start="0">
    <li><a id="computing" routerLink="/informatica/00-introduccion-curso">Introducción al curso</a></li>
    <li><a id="computing" routerLink="/informatica/01-introduccion-python">Introducción a Python</a></li>
  </ol>
</section>

<section class="workshops">
  <h2>Talleres</h2>
  <ol>
    <li><a id="computing" routerLink="/informatica/01-operadores-variables">Operadores y variables</a></li>
    <li><a id="computing" routerLink="/informatica/01-introduccion-python">Diagramas de flujo y pseudocódigo</a></li>
  </ol>

</section>
